[submodule "data/trec-cast-tools"]
	path = data/trec-cast-tools
	url = https://github.com/gla-ial/trec-cast-tools
[submodule "data/treccastweb"]
	path = data/treccastweb
	url = https://github.com/daltonj/treccastweb
[submodule "data/canard"]
	path = data/canard
	url = https://github.com/aagohary/canard
